jp-ferreteria/.phpunit.cache
jp-ferreteria/bootstrap/ssr
jp-ferreteria/node_modules
jp-ferreteria/public/build
jp-ferreteria/public/hot
jp-ferreteria/public/storage
jp-ferreteria/storage/*.key
jp-ferreteria/storage/pail
jp-ferreteria/vendor
jp-ferreteria/.env
jp-ferreteria/.env.backup
jp-ferreteria/.env.production
jp-ferreteria/.phpactor.json
jp-ferreteria/.phpunit.result.cache
jp-ferreteria/Homestead.json
jp-ferreteria/Homestead.yaml
jp-ferreteria/npm-debug.log
jp-ferreteria/yarn-error.log
jp-ferreteria/auth.json
jp-ferreteria/.fleet
jp-ferreteria/.idea
jp-ferreteria/.nova
jp-ferreteria/.vscode
jp-ferreteria/.zed